<a href="https://colab.research.google.com/github/Abhay898/ML_Project/blob/main/House_Price_Pridiction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Code

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('/content/Housing.csv')

In [3]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
df.shape

(545, 13)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [6]:
objlist = ['mainroad','guestroom','basement','hotwaterheating','airconditioning','prefarea']
df[objlist] = df[objlist].apply(lambda x:x.map({'yes':1,'no':0}))

In [7]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished

In [8]:
dummy = pd.get_dummies(df['furnishingstatus'],)

In [9]:
df = pd.concat([df,dummy], axis =1 )

In [10]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,furnished,semi-furnished,unfurnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished,1,0,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished,1,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished,0,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished,1,0,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished,1,0,0

In [11]:
df.drop(['furnishingstatus'], axis =1, inplace =True )

In [12]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnished,semi-furnished,unfurnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1,0,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1,0,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1,0,0

In [13]:
X = df.drop(['price'],axis = 1)
y = df['price']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

In [15]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

model.fit(X_train, y_train)

RandomForestRegressor()

In [16]:
model = LinearRegression()

In [17]:
model.fit(X_train, y_train)

LinearRegression()

In [18]:
y_pred = model.predict(X_test)

In [19]:
y_pred

array([3973604.61660514, 6738024.99243046, 5608520.696217  ,
       5230286.40498512, 4808901.20220735, 3918294.040407  ,
       8186276.3381508 , 5758322.27394122, 3501669.01091216,
       5707139.18205881, 2969346.83346448, 6347708.98782252,
       4676636.24076065, 7388896.11898453, 5705349.31053085,
       6868720.57437679, 8276975.07430041, 4400557.5117136 ,
       6091903.51087378, 4991450.54602189, 4283402.90571562,
       2728381.27897154, 4626720.89628371, 3632117.42514947,
       2681844.96925324, 3466632.57642346, 5185523.95806726,
       6591380.33796246, 6657276.36010019, 4980942.02555194,
       3064166.028358  , 4545320.64238042, 3002572.50910407,
       2734521.1683769 , 4820794.0859769 , 4692609.99106211,
       4644127.29136318, 3328157.30903709, 3434829.96124481,
       4311234.07269786, 3120712.46662069, 6024009.42380274,
       5979288.57745615, 2927055.67784665, 2618544.92512148,
       4496405.3742612 , 4526864.61391468, 5212735.83216807,
       3266924.86285087, 6115727.9833347 , 1979478.58928447,
       6549135.33081468, 5904910.45373272, 6512811.73648694,
       7089238.09417931, 5091137.94453483, 6174280.20821999,
       2829714.69628274, 2698245.37385524, 4073381.330246  ,
       2756632.4821073 , 3814586.52431965, 7204326.72882664,
       6942478.79939551, 2781707.73748755, 3169187.48710064,
       6667970.3024475 , 2793779.50772568, 2447072.78288303,
       6378265.49791128, 2686591.36417916, 6480087.14232383,
       4034356.50874341, 3413979.09424478, 5124702.2327332 ,
       4195272.43027456, 6694350.32822568, 8329878.25392947,
       9867556.18533479, 5522675.91337608, 8049554.28122007,
       2684333.47962494, 2861561.11869942, 2749415.80044974,
       5094172.98073927, 3235916.75575692, 3406675.24299881,
       5781384.34892226, 4984062.99777027, 2597539.39624924,
       4278464.55870228, 2960585.571611  , 3337998.19014221,
       4844480.41084528, 4662602.36580346, 3159526.8154078 ,
       4730351.54061171, 3231382.81309548, 6414330.30561114,
       3015818.79328153, 4967796.03568173, 6604260.11355671,
       6035878.48047084, 8029775.95763045, 3814713.70629877,
       4909914.40548743, 3125310.04056824, 4160163.08932659,
       4254684.39881612])

In [20]:
y_test

265    4403000
54     7350000
171    5250000
244    4550000
268    4382000
        ...
451    3150000
320    4060000
424    3360000
338    3885000
373    3640000
Name: price, Length: 109, dtype: int64

In [21]:
r2_score(y_test, y_pred)

0.6806539407870676

# Accuracy

In [22]:
r2_score(y_test, y_pred)

0.6806539407870676